<h3>The Cowork</h3>

<p>Hi <%= @request.name %>,</p>

<p>
Welcome to The Cowork's waitlist! Click on the link below to join our waitlist:
</p>

<%= link_to "Join our waitlist", edit_request_activation_url(@request.activation_token, email: @request.email) %>
